/* All */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625em;
  font-family: "SF Pro Display", sans-serif;
}
#home section div a:hover {
  font-size: 300%;
}
a:hover {
  font-size: 120%;
}
img:hover {
  transform: scale(1.5);
}

/* Navigation bar */
header nav:nth-of-type(1) {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
}

nav:nth-of-type(1) ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25em 0 1.25em;
}
header nav:nth-of-type(2) {
  display: none;
}
.textOnMobile {
  display: flex !important;
}
.textOnDesktop {
  display: none !important;
}
.titleOnDesktop {
  display: none !important;
}
/* Hamburger menu  */
.NavBarMobile {
  top: 0;
  padding: 4.2em 1.4375em 1.4375em 1.4375em;
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  margin-top: 0em;
  align-items: flex-start;
  z-index: 99;
  height: 100vh;
  transition: 0.3s ease;
  background-color: black;
  display: none;
  position: fixed;
}
.NavBarMobile > li {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
  margin-left: 1.0625em;
  color: white;
  border-bottom: 0.0625em solid #424245;
}
.NavBarMobile > li a {
  text-decoration: none;
  color: #cccccc;
  font-size: 1.25em;
}
.NavBarMobile > li:nth-of-type(1) {
  width: 110%;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-left: -2.125em;
  display: flex;
  flex-direction: column;
  border-bottom: none;
  margin-bottom: 0.625em;
  border-bottom: 0.0625em solid #424245;
}
.NavBarMobile input {
  padding-left: 0.625em;
  background-color: #1d1d1f;
  border-style: none;
  border-radius: 0.625em;
  height: 2.1875em;
  margin-bottom: 0.625em;
}
/*Iphone13pro section */
#home section:nth-of-type(1) {
  background: url("../Images/Mobile/Iphone13pro.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4.4rem;
  height: 48rem;
  border-top: none;
}
#home section div a:nth-of-type(1) {
  margin-right: 1.25em;
}
#home section h2 {
  font-size: 4rem;
}

#home section h3 {
  font-size: 2rem;
  font-weight: 400;
}

#home section:nth-of-type(1) {
  padding: 1.875em 1.25em 0.9375em 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home div a {
  color: #06c;
  font-size: 2em;
  text-decoration: none;
}

#home div {
  margin: 0.625em 0em 0.625em 0em;
}
#home a:hover {
  text-decoration: underline;
}
/*Iphone13 section */
#home section:nth-of-type(2) {
  background: url("../Images/Mobile/Iphone13.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 47rem;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home section:nth-of-type(2) h2 {
  font-size: 4rem;
  color: #f5f5f7;
  margin-bottom: 0.3125em;
}

#home section:nth-of-type(2) h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #fec2eb;
  margin-bottom: 0.625em;
}

#home section:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home section:nth-of-type(2) div {
  display: flex;
  flex-direction: row;
}
/*AppleWatch section */
#home section:nth-of-type(3) {
  background: url("../Images/Mobile/Watch.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 52rem;
  border-top: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
#home section:nth-of-type(3) h2 {
  background: url("../Images/Mobile/AppleWatchLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}

#home section:nth-of-type(3) h3 {
  margin-bottom: 0.625em;
}

/*Macbook pro section */
#home .productsGrid {
  background: #fbfbfd;
}
#home .productsGrid section {
  border-bottom: 1.25em solid white;
}
#home .productsGrid section:nth-of-type(1) {
  background: url("../Images/Mobile/Macbookpro.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 47rem;
  padding: 1.875em 1.25em 0.9375em 1.25em;
  border-top: none;
  display: flex;
  justify-content: flex-start;
}

/* Airpods */
#home .productsGrid section:nth-of-type(2) {
  background: url(../Images/Mobile/AirPods.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 48rem;
  border-top: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.875em 1.25em 1.875em 1.25em;
}
#home .productsGrid section:nth-of-type(2) h2 {
  color: black;
}
#home .productsGrid section:nth-of-type(2) h3 {
  color: black;
}

/* IpadMini */
#home .productsGrid section:nth-of-type(3) {
  background: url("../Images/Mobile/IpadMini.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 47rem;
  border-top: none;
  display: flex;
  justify-content: flex-start;
}
#home .productsGrid section:nth-of-type(3) h2 {
  background: url("../Images/Mobile/IpadMiniLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  width: 4.3em;
}

/* Airtag section */
#home .productsGrid section:nth-of-type(4) {
  padding: 1.875em 1.25em 1.875em 1.25em;
  background: url(../Images/Mobile/AirTag.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 50rem;
  border-top: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#home .productsGrid section:nth-of-type(4) div {
  margin-top: 1.4rem;
}

#home .productsGrid section:nth-of-type(4) h2,
#home .productsGrid section:nth-of-type(4) h3 {
  text-align: center;
}

/* AppleTv */
#home .productsGrid section:nth-of-type(5) {
  background: url("../Images/Mobile/AppleTv.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 47rem;
  border-top: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#home .productsGrid section:nth-of-type(5) h2 {
  background: url("../Images/Mobile/AppleTvLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  width: 4em;
}
#home .productsGrid section:nth-of-type(5) h3 {
  font-size: 3em;
  text-align: center;
}

/* Tv+ */
#home .productsGrid section:nth-of-type(6) {
  background: url("../Images/Mobile/TV.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.4rem;
  height: 52rem;
  border-top: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 1.875em 1.25em 1.875em 1.25em;
}

#home .productsGrid section:nth-of-type(6) h2 {
  background: url("../Images/Mobile/TVLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 3em;
}
#home .productsGrid section:nth-of-type(6) h3 {
  text-align: center;
}
#home .productsGrid section:nth-of-type(6) div {
  padding-bottom: 3em;
}

#home .productsGrid section:nth-of-type(6) div {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
#home .productsGrid section:nth-of-type(6) div a {
  color: #fff;
}

/* support page */

#support h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
}
.textOnDesktop {
  display: none;
}
#support .girl {
  background: url("../Images/Mobile/GirlWithIpad.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4.4rem;
  height: 28rem;
  border-top: none;
}
#support section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  padding: 0.625em 2.5em 0.625em 2.5em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}
#support section:nth-of-type(2) div {
  margin: 1.875em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#support section:nth-of-type(2) div img {
  width: 4.25em;
}
#support section:nth-of-type(2) div a {
  margin-top: 0.625em;
  font-size: 2em;
}

#support section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#support section:nth-of-type(3) section {
  width: 80%;
  padding-bottom: 1.875em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
  margin-top: 1.875em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#support section:nth-of-type(3) section a {
  color: blueviolet;
  font-size: 1.4rem;
  margin-top: 1.25em;
}
#support section:nth-of-type(4) {
  padding-bottom: 1.25em;
  border-top: 0.0625em solid rgb(182, 182, 182);
  border-bottom: 0.0625em solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#support section:nth-of-type(4) div:nth-of-type(2) {
  margin-top: 1.5625em;
  display: flex;
  align-items: center;
  width: 70%;
  padding-right: 2.1875em;
  height: 3.25rem;
  font-weight: 300;
  border-radius: 0.1875em;
  letter-spacing: normal;
  color: #333;
  border: 0.125em solid #bbb;
  font-size: 1.375rem;
}

#support section:nth-of-type(4) div:nth-of-type(2) input {
  width: 99%;
  height: 1.25rem;
  font-family: inherit;
  font-weight: 300;
  border: none;
  outline: none;
  letter-spacing: normal;
  font-size: 1.375rem;
  padding-left: 0.625em;
}

#support article:nth-of-type(1),
#support article:nth-of-type(2) {
  border-top: 0.0625em solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#support article:nth-of-type(1) div,
#support article:nth-of-type(2) div,
#support article:nth-of-type(3) div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#support article:nth-of-type(1) img,
#support article:nth-of-type(2) img {
  margin-top: 3.125em;
  width: auto;
  height: 12.5em;
}

#support article:nth-of-type(1) p,
#support article:nth-of-type(2) p {
  margin-top: 1.25em;
  font-size: 1.1875em;
  line-height: 1.4738442105;
  font-weight: 300;
  text-align: center;
  color: #363636;
}
#support article:nth-of-type(1) a,
#support article:nth-of-type(2) a {
  font-size: 1.25em;
  margin-top: 1.25em;
  color: #306ec3;
  margin-bottom: 1.25em;
}

#support section:nth-of-type(5) {
  background: url("../Images/Mobile/ipadpencil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4.4rem;
  height: 40rem;
  width: auto;
  border-top: none;
  display: flex;
}

#support section:nth-of-type(6) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}

#support section:nth-of-type(6) h1 {
  text-align: left !important;
}
#support section:nth-of-type(6) p {
  text-align: left !important;
  margin-top: 1.25em;
  font-size: 1.1875em;
  line-height: 1.4738442105;
  font-weight: 300;
  text-align: center;
  color: #363636;
}

#support section:nth-of-type(6) a {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 0 !important;
  color: #306ec3;
  margin-bottom: 1.25em;
}

#support article:nth-of-type(3) {
  display: flex;
  padding-bottom: 1.25em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.25em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}

#support article:nth-of-type(3) img {
  margin-top: 3.125em;
  width: auto;
  height: 12.5em;
}

#support article:nth-of-type(3) p {
  margin-top: 1.25em;
  font-size: 0.9375em;
  line-height: 1.4738442105;
  font-weight: 300;
  text-align: center;
  color: #363636;
  margin-bottom: 0.625em;
}

#support article:nth-of-type(3) a {
  font-size: 1.25em;
  color: #306ec3;
  margin-bottom: 2.5em;
  text-align: center !important;
}

#support article:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25em;
  padding-left: 1.25em;
  padding-top: 1.25em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}

#support article:nth-of-type(4) p {
  margin-top: 1.25em;
  font-size: 0.9375em;
  line-height: 1.4738442105;
  font-weight: 300;
  color: #363636;
  margin-bottom: 0.625em;
}
#support article:nth-of-type(4) img {
  margin-top: 3.125em;
  max-height: 12.5em;
  max-width: 12.5em;
  margin: 0 auto;
}
#support article:nth-of-type(4) h1 {
  text-align: left !important;
}
#support article:nth-of-type(4) a {
  text-align: left !important;
  font-size: 1.25em;
  margin-top: 1.25em;
  color: #306ec3;
  margin-bottom: 1.25em;
}
#support section:nth-of-type(7) {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}
#support section:nth-of-type(7) p {
  margin-top: 1.25em;
  font-size: 0.875em;
  line-height: 1.4738442105;
  font-weight: 300;
  text-align: center;
  color: #363636;
}
#support section:nth-of-type(7) h3 {
  font-weight: 500;
  text-align: center;
  font-size: 2em;
}
#support article:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-bottom: 0.0625em solid rgb(182, 182, 182);
}
#support article:nth-of-type(5) img {
  max-width: 18.75em;
  max-height: 18.75em;
}

#support article:nth-of-type(5) div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#support article:nth-of-type(5) h1 {
  text-align: left !important;
}
#support article:nth-of-type(5) a {
  font-size: 1.25em;
  margin-top: 1.25em;
  color: #306ec3;
  margin-bottom: 1.25em;
}

#support section:nth-of-type(8) {
  list-style: none;
  padding-left: 1.25em;
  padding-bottom: 5em;
}
#support section:nth-of-type(8) ul li {
  margin-top: 0.625em;
}
#support #zwarteheader {
  color: black !important;
}

#support section:nth-of-type(8) ul li a {
  font-size: 1.0625em;
  color: #306ec3;
}

/* Footer */
footer {
  background: #f5f5f7;
  margin-top: 1.4rem;
  padding-left: 3em;
  padding-right: 3em;
}
footer section:nth-of-type(1) p {
  padding: 1.5rem;
  color: #6e6e73;
  font-size: 0.75em;
}
footer section {
  padding: 0.5rem;
  border-bottom: 0.0625em solid #d3d3d8;
}
footer section:nth-of-type(2) {
  border-bottom: none;
}
footer section:nth-of-type(2) section {
  border-bottom: 0.0625em solid #d3d3d8;
}
footer section:nth-of-type(2) section h2 {
  color: #6e6e73;
}

footer section h2::after {
  content: "+";
  float: right;
  color: #6e6e73;
}

footer section {
  color: #424245;
}
footer section ul li {
  margin-top: 0.625em;
}
footer section ul {
  display: none;
}
ul {
  list-style: none;
}

footer section:nth-of-type(3) p {
  color: #6e6e73;
  margin-bottom: 0.625em;
}

@media screen and (min-width: 45.625em) and (max-width: 66.25em) {
  header nav:nth-of-type(1) {
    display: none;
  }
  #support article:nth-of-type(1) p {
    padding-left: 10rem;
    padding-right: 10rem;

  }
  header nav:nth-of-type(2) {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav:nth-of-type(2) ul {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav:nth-of-type(2) a {
    color: #d6d6d6;
  }
  header nav:nth-of-type(2) a:hover {
    color: #fff;
  }

  #home section:nth-of-type(1) {
    background: url("../Images/Medium/Iphone13pro.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #home section:nth-of-type(2) {
    background: url("../Images/Medium/Iphone13.png");
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding-top: 1.25em;
  }
  #home section:nth-of-type(3) {
    background: url("../Images/Medium/Watch.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .productsGrid {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .productsGrid section {
    height: 47rem !important;
    max-width: 37rem;
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section:nth-of-type(2) section:nth-of-type(3) {
    width: 8rem;
  }
  footer section:nth-of-type(3) {
    width: 100%;
    text-align: left;
  }
  footer section:nth-of-type(2) {
    display: flex;
  }
  #title1,
  #title2,
  #title3,
  #title4,
  #title5,
  #title6,
  #title7,
  #title8,
  #title9 {
    font-size: 1.2em;
  }
  #display1,
  #display2,
  #display3,
  #display4,
  #display5,
  #display6,
  #display7,
  #display8,
  #display9 {
    display: flex;
    flex-direction: column;
  }

  footer section:nth-of-type(2) section:nth-of-type(2) {
    flex-direction: column;
  }
  footer section h2::after {
    content: " " !important;
  }

  .titleOnMobile {
    display: none;
  }
  .textOnDesktop {
    display: block;
    margin: 0 !important;
    color: white;
    margin-bottom: 4rem !important;
  }

  #support section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #support section:nth-of-type(2) {
    justify-content: space-between;
  }
  #support section:nth-of-type(2) div {
    margin: 2.8rem;
  }
  #support section:nth-of-type(3) img {
    width: 5rem;
    height: auto;
  }
  #support section:nth-of-type(4) div:nth-of-type(2) {
    width: 90%;
  }
  #support section:nth-of-type(4) div:nth-of-type(1) {
    font-size: 1.5rem;
    margin-top: 1rem !important;
  }
  #support article:nth-of-type(1) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(1) p {
    font-size: 1.7em;
  }
  #support article:nth-of-type(1) a {
    font-size: 1.8em;
  }

  #support article:nth-of-type(2) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(2) p {
    font-size: 1.7em;
  }
  #support article:nth-of-type(2) a {
    font-size: 1.8em;
  }
  .textOnMobile {
    display: none !important;
  }
  #support section:nth-of-type(5) {
    background: url("../Images/Medium/girlwithpencil.png");
    background-size: cover;

    align-items: center;
    padding-left: 5rem;
  }
  .titleOnDesktop {
    display: flex !important;
    flex-direction: column;
    color: white !important;
  }
  .textOnDesktop {
    display: flex !important;
    flex-direction: column;
    color: white !important;
  }
  .textOnDesktop h1 {
    text-align: left !important;
  }
  .textOnDesktop p {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .textOnDesktop a {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #4c7cc0;
  }
  #support article:nth-of-type(3) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #support article:nth-of-type(3) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(3) p {
    font-size: 1.7em;
  }
  #support article:nth-of-type(3) a {
    font-size: 1.8em;
  }

  #support article:nth-of-type(4) {
    flex-direction: row;
  }
  #support section:nth-of-type(7) p {
    font-size: 1.7em;
  }
  #support section:nth-of-type(8) {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 66.25em) {
  header nav:nth-of-type(1) {
    display: none;
  }

  header nav:nth-of-type(2) {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav:nth-of-type(2) ul {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav:nth-of-type(2) a {
    color: #d6d6d6;
  }
  header nav:nth-of-type(2) a:hover {
    color: #fff;
  }
  #support article {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

  }
  #home section {
    padding-top: 5rem !important;
  }
  #home .productsGrid section {
    padding-top: 1rem !important;
  }

  #home h2 {
    font-size: 6rem !important;
  }
  #home h3 {
    font-size: 3rem !important;
  }
  #home .productsGrid h2 {
    font-size: 4rem !important;
  }
  #home .productsGrid h3 {
    font-size: 2rem !important;
  }
  #home section {
    height: 68rem !important;
  }
  #home .productsGrid section {
    height: 48rem !important;
  }
  #home section:nth-of-type(1) {
    background: url("../Images/large/Iphone13pro.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #home section:nth-of-type(2) {
    background: url("../Images/large/Watch.png");
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding-top: 1.25em;
  }
  #home section:nth-of-type(3) {
    background: url("../Images/large/Iphone13.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  #home section:nth-of-type(3) h2 {
    height: 10rem;
  }
  .productsGrid {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .productsGrid section {
    height: 47rem !important;
    max-width: 55rem;
    width: 100%;
  }
  footer section:nth-of-type(2) {
    display: flex;
  }
  #title1,
  #title2,
  #title3,
  #title4,
  #title5,
  #title6,
  #title7,
  #title8,
  #title9 {
    font-size: 1.2em;
  }
  #display1,
  #display2,
  #display3,
  #display4,
  #display5,
  #display6,
  #display7,
  #display8,
  #display9 {
    display: flex;
    flex-direction: column;
  }

  footer section:nth-of-type(2) section:nth-of-type(2) {
    flex-direction: column;
  }
  footer section h2::after {
    content: " " !important;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section:nth-of-type(2) section:nth-of-type(3) {
    width: 8rem;
  }
  footer section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 73%;
  }
  #support article {
    padding-left: 10rem !important;
  }
  #support article img {
    margin-right: 10rem !important;
  }
  #support .girl {
    background: url("../Images/Medium/GirlWithIpad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
  }
  .titleOnMobile {
    display: none;
  }
  .titleOnDesktop {
    display: flex !important;
    flex-direction: column;
    color: white !important;
    font-size: 4rem !important;
  }
  .textOnDesktop {
    display: block;
    margin: 0 !important;
    color: white;
    margin-bottom: 4rem !important;
  }

  #support section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #support section:nth-of-type(2) {
    justify-content: space-between;
  }
  #support section:nth-of-type(2) div {
    margin: 2.8rem;
  }
  #support section:nth-of-type(3) {
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  #support section:nth-of-type(3) section {
    border-right: 0.0625em solid rgb(182, 182, 182);
    border-bottom: none;
  }
  #support section:nth-of-type(3) img {
    width: 5rem;
    height: auto;
  }

  #support section:nth-of-type(4) div:nth-of-type(2) {
    width: 66%;
    height: 4rem;
  }
  #support section:nth-of-type(4) div:nth-of-type(1) {
    font-size: 1.5rem;
    margin-top: 1rem !important;
  }
  #support section:nth-of-type(8) {
    padding-top: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  #support article:nth-of-type(1) {
    flex-direction: row;
    padding-bottom: 3rem;
  }
  #support article:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #support article:nth-of-type(1) p {
    text-align: left;
  }

  #support article:nth-of-type(1) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(1) p {
    font-size: 1.7em;
  }
  #support article:nth-of-type(1) a {
    font-size: 1.8em;
  }
  #support article:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #support article:nth-of-type(2) h1 {
    text-align: left;
  }
  #support article:nth-of-type(2) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(2) p {
    font-size: 1.7em;
    margin-bottom: 1.5em;
  }
  #support article:nth-of-type(2) a {
    font-size: 1.8em;
  }

  #support article:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #support article:nth-of-type(3) h1 {
    text-align: left;
  }
  #support article:nth-of-type(3) p {
    text-align: left;
  }

  #support article:nth-of-type(4) img {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    max-height: 21.5em;
    max-width: 21.5em;
  }
  #support section:nth-of-type(8) {
    font-size: 1.5rem;
    padding-left: 10rem !important;
  }
  #support article:nth-of-type(5),
  #support article:nth-of-type(5) img {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    display: flex;
    flex-direction: row;
  }
  .textOnMobile {
    display: none !important;
  }
  #support section:nth-of-type(5) {
    background: url("../Images/Medium/girlwithpencil.png");
    background-size: cover;
    align-items: center;
    padding-left: 5rem;
  }
  .textOnDesktop {
    display: flex !important;
    flex-direction: column;
    color: white !important;
    padding-left: 10rem;
  }
  .textOnDesktop h1 {
    text-align: left !important;
    font-size: 3rem;
  }
  .textOnDesktop p {
    margin-top: 1rem;
    font-size: 2.2rem;
  }
  .textOnDesktop a {
    margin-top: 1rem;
    font-size: 2rem;
    color: #4c7cc0;
  }
  #support article:nth-of-type(3) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #support article:nth-of-type(3) img {
    width: 40rem;
    height: auto;
  }
  #support article:nth-of-type(3) p {
    font-size: 1.7em;
  }
  #support article:nth-of-type(3) a {
    font-size: 1.8em;
  }

  #support article:nth-of-type(4) {
    flex-direction: row;
  }
  #support section:nth-of-type(7) p {
    font-size: 1.7em;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  #support section:nth-of-type(8) {
    font-size: 1.5rem;
  }
   footer{
    padding-top: 2rem;
  }
}
