/* All */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "SF Pro Display", sans-serif;
}

/* Navigation bar */
header nav {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/* Hamburger menu  */
.NavBarMobile {
  top: 20px;
  padding: 23px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
  align-items: flex-start;
  z-index: 99;
  height: 100vh;
  transition: 0.3s ease;
  background-color: black;
  display: none;
  position: fixed;
}
.NavBarMobile > li {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 17px;
  color: white;
  border-bottom: 1px solid #424245;
}
.NavBarMobile > li a {
  text-decoration: none;
  color: #cccccc;
  font-size: 20px;
}
.NavBarMobile > li:nth-of-type(1) {
  width: 120%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -34px;
  display: flex;
  flex-direction: column;
  border-bottom: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #424245;
}
ul input {
  padding-left: 10px;
  background-color: #1d1d1f;
  border-style: none;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 10px;
}
h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 3em;
}

.girl {
  background: url("../Images/Mobile/GirlWithIpad.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4.4rem;
  height: 28rem;
  border-top: none;
}
main section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  border-bottom: 1px solid rgb(182, 182, 182);
}
main section:nth-of-type(2) div {
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main section:nth-of-type(2) div img {
  width: 68px;
}
main section:nth-of-type(2) div a {
  margin-top: 10px;
  font-size: 2em;
}

main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
main section:nth-of-type(3) section {
  width: 80%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(182, 182, 182);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section:nth-of-type(3) section a {
  color: blueviolet;
  font-size: 1.4rem;
  margin-top: 20px;
}
main section:nth-of-type(4) {
  padding-bottom: 20px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section:nth-of-type(4) div:nth-of-type(2) {
  margin-top: 25px;
  display: flex;
  align-items: center;
  width: 70%;
  padding-right: 35px;
  height: 3.25rem;
  font-weight: 300;
  border-radius: 3px;
  letter-spacing: normal;
  color: #333;
  border: 2px solid #bbb;
  font-size: 1.375rem;
}

main section:nth-of-type(4) div:nth-of-type(2) input {
  width: 99%;
  height: 1.25rem;
  font-family: inherit;
  font-weight: 300;
  border: none;
  outline: none;
  letter-spacing: normal;
  font-size: 1.375rem;
  padding-left: 10px;
}

article:nth-of-type(1),article:nth-of-type(2){
  border-top: 1px solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}
article:nth-of-type(1) img,article:nth-of-type(2) img {
  margin-top:50px;
  width: auto;
  height: 200px;
}

article:nth-of-type(1) p,article:nth-of-type(2) p {
  margin-top:20px;
  font-size: 19px;
  line-height: 1.4738442105;
  font-weight: 300;
text-align: center;
color: #363636;
}
article:nth-of-type(1) a,article:nth-of-type(2) a{
  font-size: 20px;
  margin-top:20px;
  color: #306EC3;
  margin-bottom:20px
}



/* Footer */
footer {
  background: #f5f5f7;
  margin-top: 1.4rem;
  padding-left: 3em;
  padding-right: 3em;
}
footer section:nth-of-type(1) p {
  padding: 1.5rem;
  color: #6e6e73;
  font-size: 12px;
}
footer section {
  padding: 0.5rem;
  border-bottom: 1px solid #d3d3d8;
}
footer section:nth-of-type(2) {
  border-bottom: none;
}
footer section:nth-of-type(2) section {
  border-bottom: 1px solid #d3d3d8;
}
footer section:nth-of-type(2) section h2 {
  color: #6e6e73;
}

footer section h2::after {
  content: "+";
  float: right;
  color: #6e6e73;
}

footer section {
  color: #424245;
}
footer section ul li {
  margin-top: 10px;
}
footer section ul {
  display: none;
}
ul {
  list-style: none;
}

footer section:nth-of-type(3) p {
  color: #6e6e73;
  margin-bottom: 10px;
}
